# Movie Reccomender System

## Business Understanding

## Data Understanding

For this project, we will be using four datasets

In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# setting the font size for all plots
font = {'size': 16}

plt.rc('font', **font)

### Reading the data

In [2]:
# Loading the datasets from the data folder
links_df = pd.read_csv('data/links.csv')
movies_df = pd.read_csv('data/movies.csv')
ratings_df = pd.read_csv('data/ratings.csv')
tags_df = pd.read_csv('data/tags.csv')

### links_df

In [3]:
display(links_df.head())
links_df.info()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

The links dataframe contains a movieid and also its id in imdb and tmbd

### movies_df

In [4]:
display(movies_df.head())
movies_df.info()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

movies df contains the movie id and also it's title plus the genre a certain movie belongs to.
The are no null values present here

### ratings_df

In [5]:
display(ratings_df.head())
ratings_df.info()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

The rating df contains a user id, movie id and the ranking. Timestap here is irrelevant.

### tags_df

In [6]:
display(tags_df.head())
tags_df.info()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

The tags df contains the user id, movie id and also its tag.

In [7]:
# printing the number of records in every dataframe
dataframes = [links_df, movies_df, ratings_df, tags_df]
dataframe_names = ['links_df', 'movies_df', 'ratings_df', 'tags_df']

for i in range(len(dataframes)):
    print(f" {dataframe_names[i]} has {dataframes[i].shape[0]} records.")

 links_df has 9742 records.
 movies_df has 9742 records.
 ratings_df has 100836 records.
 tags_df has 3683 records.

tags_df has less values hence won't be appropriate to use it in this project. Also the same information present here is the same in the movie_df

## Data Cleaning

### movie_df
**the genres column**

for the genres column, I will change every value in every column to lower case and store them in a list

In [8]:
movies_df_cleaned = movies_df.copy()
movies_df_cleaned.genres = movies_df.genres.map(lambda x: x.replace('|', ',').lower().split(','))
movies_df_cleaned

,movieId,title,genres
0,1,Toy Story (1995),"[adventure, animation, children, comedy, fantasy]"
1,2,Jumanji (1995),"[adventure, children, fantasy]"
2,3,Grumpier Old Men (1995),"[comedy, romance]"
3,4,Waiting to Exhale (1995),"[comedy, drama, romance]"
4,5,Father of the Bride Part II (1995),[comedy]
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),"[action, animation, comedy, fantasy]"
9738,193583,No Game No Life: Zero (2017),"[animation, comedy, fantasy]"
9739,193585,Flint (2017),[drama]
9740,193587,Bungo Stray Dogs: Dead Apple (2018),"[action, animation]"
9741,193609,Andrew Dice Clay: Dice Rules (1991),[comedy]

### ratings_df, tags_df

**Removing the timestamp columns in both dataframes**

In [9]:
ratings_df_cleaned = ratings_df.drop('timestamp', axis=1)
tags_df_cleaned = tags_df.drop('timestamp', axis=1)

display(ratings_df_cleaned.head(2))
tags_df_cleaned.head(2)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0

   userId  movieId              tag
0       2    60756            funny
1       2    60756  Highly quotable

### Getting all the genres present in the dataset

In [10]:
# creating a list to store the movise genres
genres = []

for record in range(len(movies_df_cleaned)):
    genres_list = movies_df_cleaned.loc[record, 'genres']

    # updating the genres list
    for genre in genres_list:
        genres.append(genre)
# converting the genres list to a set
genres = list(set(genres))

In [11]:
display(len(genres))
genres

20

['drama',
 'documentary',
 'film-noir',
 'comedy',
 'romance',
 '(no genres listed)',
 'adventure',
 'animation',
 'western',
 'imax',
 'sci-fi',
 'war',
 'action',
 'crime',
 'musical',
 'horror',
 'thriller',
 'mystery',
 'fantasy',
 'children']

This dataset has a total of 20 movie genres.

## EDA - Explanatory Data Analysis

In [12]:
#  creating a df to store the average ratings of every genre
genre_ratings = pd.DataFrame(index=genres, columns=['ratings'], data=np.zeros(len(genres)))
genre_ratings.head()

             ratings
drama            0.0
documentary      0.0
film-noir        0.0
comedy           0.0
romance          0.0

In [13]:
for genre in genres:
    # iterating through every record to 
    for record in range(movies_df_cleaned.shape[0]):
        
        genres = movies_df_cleaned.loc[record, 'genres']

        if genre in genres:
            movie_id = movies_df_cleaned.loc[record, 'movieId']

            # fetching the ratings from the ratings df
            ratings = ratings_df[ratings_df.movieId == movie_id]['rating'].sum()
            no_records = len(ratings_df[ratings_df.movieId == movie_id]['rating'])
            

    
    ratings_avg = ratings/no_records

    genre_ratings.loc[genre, 'ratings'] = ratings_avg

In [14]:
genre_ratings

                     ratings
drama               3.500000
documentary         3.500000
film-noir           4.000000
comedy              4.000000
romance             1.500000
(no genres listed)  2.000000
adventure           4.500000
animation           3.500000
western             3.500000
imax                3.853659
sci-fi              3.500000
war                 3.833333
action              3.500000
crime               2.500000
musical             3.500000
horror              2.750000
thriller            3.500000
mystery             2.250000
fantasy             3.500000
children            3.900000